body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

#header-row {
    text-align: center;
    margin-top: 10%;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 40px;
}

h1#sexy-name {
    display: inline-block;
    margin-bottom: 0px;
}

#sexy-name a {
    text-decoration: none;
    color: black;
}

#github-star-container {
    margin-left: 5px;
    display: inline-block;
}

a.logo {
    text-decoration: none;
}

.container {
    min-height: 100% !important;
    position: relative !important;
    opacity: 0.9;
    padding: 0 20px 20px 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

ul.hunger-menu {
    margin-left: 1em;
    list-style-position: outside;
}

#footer {
    position: fixed;
    bottom: 5px;
    height: 20px;
    width: 100%;
    font-size: small;
    color: grey;
}

#footer a {
    color: grey;
}

#footer .left {
    position: absolute;
    left: 10px;
}

#footer .right {
    position: absolute;
    right: 10px;
    text-align: right;
}

.crumbs { display: block; }

.crumbs li { display: inline; }

.crumbs li.first { padding-left: 8px; }

.crumbs li a,
.crumbs li a:link,
.crumbs li a:visited {
    color: #666666;
    display: block;
    float: left;
    font-size: 12px;
    margin-left: -13px;
    padding: 7px 17px 11px 25px;
    position: relative;
    text-decoration: none;
}

.crumbs li a {
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: relative;
}

.crumbs li a:hover {
    color: #333333;
    background-position: 100% -48px;
    cursor: pointer;
}

.crumbs li a:active {
    color: #333333;
    background-position: 100% -96px;
}

.crumbs li.first a span {
    height: 29px;
    width: 3px;
    border-left: 1px solid #d9d9d9;
    position: absolute;
    top: 0;
    left: 0;
}

#searchbox {
    width: 96%;
    margin-bottom: 0px;
}

div.padding {
    height:300px;
}
#moneyField { position: relative; }
#moneyField > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
    right: 0;
}
#moneyField input {
    height: 26px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    background: #fff;
    padding: 6px 15px 6px 0;
    text-align: right;
}