
#Turn on the magic
RewriteEngine On

#Ignore direct access to the redirect folder
RewriteRule ^redirect - [L,NC]

#Rewrite any subdomains to the correct script whichs checks where to forward to
RewriteCond %{HTTP_HOST} !www.tum.sexy [NC]
RewriteCond %{HTTP_HOST} ^(www\.)?([a-z0-9-]+).tum.sexy [NC]
RewriteRule ^(.*)$ /redirect/index.php?sub=%2 [L]


