<div class="container">
    {% include main_tpl %}
</div>


<div id="footer">
    <div class="left">
        <a href="?cats=1">Gimme' cats!</a>
    </div>
    <div class="right">
        Provided by Lukas, <a href="https://bruck.me">Kordian</a> &amp; <a href="http://www.maxi-muth.de">Max</a>
    </div>
</div>
<script async defer src="//buttons.github.io/buttons.js"></script>