<div class="container">
    {% include main_tpl %}
</div>


<div id="footer">
{% if cats == "hidden" %}
    <div class="left">
        <a href="/cats">Gimme' cats!</a>
    </div>
{% endif %}
    <div class="right">
        Provided by <a href="https://tum.app">TUM Dev</a>
    </div>
</div>
<script async defer src="//buttons.github.io/buttons.js"></script>
