<div class="container">
    {% include main_tpl %}
</div>


<div id="footer">
{% if cats == "hidden" %}
    <div class="left">
        <a href="/cats">Gimme' cats!</a>
    </div>
{% endif %}
    <div class="right">
        Provided by <a href="https://krenz.land">Lukas</a>, <a href="https://bruck.me">Kordian</a> &amp; <a href="http://www.maxi-muth.de">Max</a>
    </div>
</div>
<script async defer src="//buttons.github.io/buttons.js"></script>