<!DOCTYPE html>
<html lang="en">

<head>
    <title>Exzellenz ist bunt! Die TUM auf dem CSD 2017 #lgbTUM</title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=no"/>
    <meta charset="UTF-8">

    <meta name="title" content="TITLE">
    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="no">
    <meta name="author" content="Christian Dallago, Kordian Bruck ">
    <meta name="copyright" content="Christian Dallago, Kordian Bruck 2017">
    <meta http-equiv="Reply-to" content="code@dallago.us">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="Content-Type" content="text/html; iso-8859-1">
    <meta name="ROBOTS" content="INDEX,FOLLOW">
    <meta name="creation_Date" content="06/14/2017">
    <meta name="revisit-after" content="7 days">

    <meta name="fragment" content="!">

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="TITLE"/>
    <meta property="og:description" content="DESCRIPTION"/>
    <meta property="og:site_name" content="TITLE"/>
    <meta property="og:url" content="URL"/>
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="SUMMARY"/>
    <meta name="twitter:title" content="TITLE"/>
    <meta name="twitter:description" content="DESCRIPTION"/>


    <!-- Import styles -->
    <link rel="stylesheet" href="csd/lib/onepage-scroll.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="csd/style.css">

</head>

<body>
<div class="wrapper">
    <div class="main">

        <section>
            <div class="page_container home">
                <div style="height: 100%;">
                    <div class="fullWidthPic3"></div>
                    <div class="question">
                        Exzellenz ist bunt!
                    </div>
                    <br /><br />
                    <div class="box">
                        Wir wollen die TUM dieses Jahr auf dem CSD repräsentieren und zeigen, dass auch im Studium und besonders an der TU München Diversity eine ganz wichtige Rolle spielt.<br/><br/>

                        Wenn du beim Christoper Street Day am 14. Juli dabei sein willst, dann melde dich jetzt an, indem du unten deine E-Mail Adresse angibst.<br/>
                        <i>Einzige Vorraussetzung: du bist Student an der TU-München.</i><br/><br/>

                        <form class="form-inline justify-content-center">
                            <input class="form-control" type="email" placeholder="max.muster@tum.de" name="email" id="email" style=""/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Mitmachen!</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="page_container home">
                <div style="height: 100%;">
                    <div class="fullWidthPic"></div>
                    <div class="question">
                        Wanna buy stuff?
                    </div>
                    <div class="bottomrow">
                        <div class="ui page grid">
                            <div class="two column row">
                                <div class="column">
                                    <!-- change graygray to blue or pink depending on answer to male/female!! -->
                                    <div class="ui segment attached inverted graygray">
                                        <span style="line-height: 2rem;"> I am
                                            <div class="ui inline dropdown">
                                                <div class="text">
                                                    _____
                                                </div>
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    <div class="item" data-text="female" data-value="female">
                                                        female
                                                    </div>
                                                    <div class="item" data-text="male" data-value="male">
                                                        male
                                                    </div>
                                                </div>
                                            </div>
                                            and my name is
                                            <div class="ui transparent input">
                                                <input type="text" class="name" placeholder="_____________________________________________">
                                            </div>.
                                            I was born on
                                            <div class="ui transparent input">
                                                <input type="date" class="bdate" value="1992-11-11">
                                            </div>.
                                        </span>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui segment attached inverted pink">
                                        <span style="line-height: 2rem;"> Buy
                                            <div class="ui inline dropdown">
                                                <div class="text">
                                                    _____
                                                </div>
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    <div class="item" data-text="t-shirt" data-value="t-shirt">
                                                        t-shirt - 20E
                                                    </div>
                                                    <div class="item" data-text="ticket" data-value="ticket">
                                                        ticket - FREE
                                                    </div>
                                                </div>
                                            </div>
                                            my matriculation number
                                            <div class="ui transparent input">
                                                <input type="text" class="matr" placeholder="_____________________________________________">
                                            </div>.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="success.html">
                                        <div class="ui button attached hit">
                                            Send
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="page_container home">
                <div style="height: 100%;">
                    <div class="blackbg"></div>
                    <div class="question">
                        <strong>TITLE</strong>.<br>
                    </div>
                    <div class="ui page grid">
                        <div class="column" style="width: 100%; color:white;">
                            <strong>TITLE</strong>.<br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis ligula in dolor varius elementum a ac lectus. In nec luctus libero. Nulla facilisi. Donec ut egestas
                            ex, at interdum nisl. Aliquam egestas sapien ante. Donec pellentesque eget nunc a bibendum. Vestibulum non maximus elit. Etiam pretium orci ac odio consequat dapibus.
                            Vivamus et auctor dui. Nullam quis orci augue. Fusce interdum orci magna, et condimentum felis porta sit amet. Etiam non arcu porttitor, tempus dui eu, aliquet nulla.
                            Curabitur maximus ante et nisl imperdiet, quis vehicula massa elementum. Nunc odio nisl, lacinia id elit laoreet, vestibulum tempor diam. Sed feugiat vestibulum vulputate.
                            <br>
                            Pellentesque bibendum sodales quam, vel efficitur nisl fermentum elementum. Nulla molestie hendrerit dolor non tempus. Vivamus sed tellus et augue vulputate congue. Integer
                            nec ornare nulla, viverra convallis ex. Proin ullamcorper libero eget est tristique, non sodales magna fringilla. Nam sed mauris congue, laoreet massa vitae, aliquet odio.
                            Donec est velit, pellentesque id varius ut, commodo ullamcorper magna. Nulla nec elementum mauris. Sed eu ornare nunc, eu laoreet lorem. In eu convallis nibh. Donec blandit
                            porttitor eros, ut efficitur risus commodo sagittis. Aenean in nunc ac dolor tempor volutpat in id lacus. Pellentesque erat nibh, bibendum id mauris non, vehicula rhoncus
                            quam. Suspendisse dui orci, tristique non turpis sit amet, porttitor finibus massa.
                            <br>
                            <br>
                            Aenean vel consectetur <strong>odio</strong>, vel varius justo. Donec mollis semper mi, ac rhoncus mi egestas eu. Morbi posuere volutpat mollis. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Sed luctus convallis nisi, sit amet ultricies diam faucibus eu. Mauris placerat mauris ligula, in dignissim felis imperdiet lacinia. Aliquam
                            non libero erat. Fusce sodales sagittis tortor, in eleifend felis molestie sed. Nulla consectetur dui in turpis consectetur, ac suscipit leo dignissim. Quisque consequat ut
                            risus id fermentum. Etiam ante quam, pellentesque quis justo eu, semper finibus elit. Sed eleifend nisl id urna imperdiet tristique. Nullam viverra vestibulum ipsum vitae
                            suscipit.
                            <br>
                            Aenean in ex molestie, cursus felis ut, hendrerit tellus. Etiam lacus dui, ultricies sit amet mollis vitae, ultrices vel enim. Fusce sed sapien eget justo vulputate
                            volutpat ac a neque. Morbi dapibus ultricies consectetur. Mauris vestibulum maximus massa. Vestibulum ornare mollis sodales. Pellentesque dapibus nisl ac est eleifend
                            vehicula. Praesent malesuada risus eget euismod tempor. Suspendisse eu felis scelerisque, bibendum nisl nec, accumsan massa.
                            <br><br><br><br>
                            <strong>TITLE</strong>. is a proud creation by <a href="http://dallago.us" target="blank">Christian Dallago</a> && <a href="http://bruck.me" target="blank">Kordian
                                Bruck</a>.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- page components -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="csd/lib/onepagescroll.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<!-- own scripts -->
<script src="csd/script.js"></script>
</body>

</html>