<div class="row" id="header-row">
    <h1 id="sexy-name"><a href="http://tum.sexy">TUM<strong>.sexy</strong></a> | eduroam config</h1>
</div>
<div class="row" style="margin-top:10%; text-align: center;">
    <h3>How to configure your eduroam securely</h3>
    <ul>
        <li>Eduroam setup on Android is secure even without CAT. Please have a look at the <a href="https://doku.lrz.de/pages/viewpage.action?pageId=39093089">setup instructions</a>.</li>
        <li>For all other operating systems, use the automatic setup of the <a href="http://app.tum.sexy">TUM Campus App</a> (recommended) or use a profile from <a href="https://cat.eduroam.org/">Eduroam CAT</a>.</li>
        <li>If configured wrongly, third parties are able to see your password in plaintext.</li>
    </ul>

    <br>
    <br>

    <h5>Further readings / References</h5>
    <ul>
        <li><a href="https://doku.lrz.de/display/PUBLIC/eduroam">LRZ: eduroam CAT profile download</a></li>
    </ul>
</div>
