<div class="row" id="header-row">
    <h1 id="sexy-name"><a href="http://tum.sexy">TUM<strong>.sexy</strong></a> | eduroam config</h1>
</div>
<div class="row" style="margin-top:10%; text-align: center;">
    <h3>How to configure your eduroam securely</h3>
    <ul>
        <li>Don't setup your eduroam on Android manually, because it is <strong>not secure</strong>!</li>
        <li>Use the automatic setup of the <a href="http://app.tum.sexy">TUM Campus App</a> (recommended) or use a profile from <a href="https://cat.eduroam.de/">Eduroam CAT</a>.</li>
        <li>If configured wrongly, third parties are able to see your password in plaintext.</li>
    </ul>

    <br>
    <br>

    <h5>Further readings / References</h5>
    <ul>
        <li><a href="https://www.dfn-cert.de/aktuell/Google-Android-Eduroam-Zugangsdaten.html">Bug description on DFN CERT</a></li>
        <li><a href="https://lists.lrz.de/pipermail/tum-it-newsletter/2016-February/000094.html">TUM-IT-Newsletter</a></li>
        <li><a href="https://www.lrz.de/services/netz/mobil/802_1x/android_en/">LRZ: eduroam with Android</a></li>
    </ul>
</div>