<meta charset="utf-8">

<title>tum.sexy | {{ title|default('Fancy stuff related to TUM') }}</title>

<meta name="description" content="Helpful links, subdomains, redirects and tools for students of the Technical University Munich (TUM)">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/balloon.min.css">
<link rel="stylesheet" href="/css/custom.css">

<link rel="search" href="opensearchdescription.xml" type="application/opensearchdescription+xml" title="tum.sexy"/>

<link rel="icon" type="image/png" href="favicon.png"/>
