
<div class="row" id="header-row">
    <h1>Hunger | <a href="http://tum.sexy" class="logo">TUM.<strong>sexy</strong></a></h1>
</div>

<div class="container">
    <p>This is the 'Speiseplan' of the current week in the FMI Bistro of the Informatik Fakultät at TUM.</p>
    <p>
        It's currently broken due to changes in the PDF of the bistro. If you want to help to get it up
        running again, head over to <a href="https://github.com/mammuth/TUM.sexy/issues/49">Github</a>!
    </p>
    {% for title,foods in food %}
        <h3>{{ title }}</h3>
        <ul>
            {% for e in foods %}
                <li>{{ e }}€</li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% if pdfLink %}
        <a href="{{ pdfLink }}" target="_blank">Original Menu as PDF</a>
    {% endif %}
</div>
