<html>
    <head>
        <title>Hunger!11!! - Speiseplan MI, TUM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link href="/hunger/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Hunger | <a href="http://tum.sexy" class="logo">TUM.<strong>sexy</strong></a></h1>
        <div class="container">
            <p>This is the 'Speiseplan' of the current week in the FMI Bistro of the Informatik Fakultät at TUM.</p>
            {% for title,foods in food %} 
                <h3>{{title}}</h3>
                <ul>
                    {% for e in foods %}
                        <li>{{e}}€</li>
                    {% endfor %}
                </ul>
            {% endfor %}
            {% if pdfLink %}
                <a href="{{pdfLink}}" target="_blank">Original Menu as PDF</a>
            {% endif %}
        </div>
    </body>
</html>

