
<div class="row" id="header-row">
    <h1>Hunger | <a href="http://tum.sexy" class="logo">TUM.<strong>sexy</strong></a></h1>
</div>

<div class="container">
    <p>This is the 'Speiseplan' of the current week in the FMI Bistro of the Informatik Fakultät at TUM.</p>
    <h1>Aw, Snap!</h1>
    <p>
        The bistro is now run by a different leaseholder ("Pächter"), which did not yet publish any menus.<br />
        Furthermore, our current implementation (which was based on parsing the weekly PDF menu) probably won't work anymore in the future. If you want to help out fixing it, head over to <a href="https://github.com/mammuth/TUM.sexy">GitHub</a>.
    </p>
    {% for title,foods in food %}
        <h3>{{ title }}</h3>
        <ul>
            {% for e in foods %}
                <li>{{ e }}€</li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% if pdfLink %}
        <a href="{{ pdfLink }}" target="_blank">Original Menu as PDF</a>
    {% endif %}
</div>
