<div class="row" id="header-row">
    <h1>Hunger | <a href="http://tum.sexy" class="logo">TUM.<strong>sexy</strong></a></h1>
</div>



<p>This is the 'Speiseplan' of the current week in the FMI Bistro of the Informatik Fakultät at TUM as well as the Mensa Garching.</p>

<div class="row" style="margin-top:10%">
    <div class="one-half column">
        {% include 'hunger_menu.twig' with {'title': 'FMI Bistro', 'week': fmiBistroWeek} only %}
    </div>

    <div class="one-half column">
        {% include 'hunger_menu.twig' with {'title': 'IPP Bistro', 'week': ippBistroWeek} only %}
    </div>
</div>
<div class="row" style="margin-top:10%">
    <div class="one-half column">
        {% include 'hunger_menu.twig' with {'title': 'Mensa Garching', 'week': mensaWeek} only %}
    </div>

    <div class="one-half column">
        {% include 'hunger_menu.twig' with {'title': 'StuCafé Mechanical Engineering', 'week': stucafeMaschbauWeek} only %}
    </div>
</div>
