<div class="row" id="header-row">
    <h1>Hunger | <a href="http://tum.sexy" class="logo">TUM.<strong>sexy</strong></a></h1>
</div>

<div class="container">
    <p>This is the 'Speiseplan' of the current week in the FMI Bistro of the Informatik Fakultät at TUM.</p>

    {% for day in week %}
        <h3>{{day.getDate() | date("l, F j")}}<sup>{{day.getDate() | date("S")}}</sup></h3>
        <ul>
        {% for dish in day %}
            <li>{{ dish.getName() }} ({{ dish.getPrice() | number_format(2, '.', ',') }} €)</li>
        {% endfor %}
        </ul>
    {% endfor %}

    <p>Powered by <a href="https://github.com/FMeat">FMeat</a></p>
</div>
