<div class="row" id="header-row">
    <h1 id="sexy-name">TUM<strong>.sexy</strong></h1>
    <div id="github-star-container">
        <a class="github-button" href="https://github.com/mammuth/TUM.sexy/" data-icon="octicon-star" data-style="mega" data-count-href="/mammuth/TUM.sexy/stargazers"
           data-count-api="/repos/mammuth/TUM.sexy#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star mammuth/TUM.sexy on GitHub">Star</a>
    </div>
</div>
<div class="row" style="margin-top:10%">
    <div class="twelve column">
        <h3>Redirects</h3>
        <p>
            No need for remembering long and ugly urls or bookmarks— Just use these redirects!
        </p>

        <div class="row">
            <div class="one-half column">
                {% for section,elements in routes %}
                {% if loop.index % 2 == 0 %}
            </div><div class="one-half column">
                {% endif %}
                {% if loop.index % 2 == 1 %}
            </div></div><div class="row"><div class="one-half column">
                {% endif %}
                    <h4>{{ section }}</h4>
                    {% for route in elements %}
                        <li>{{ route.desc }} — <a href="http://{{ route.sub }}.tum.sexy">{{ route.sub }}.tum.sexy</a></li>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10%">
    <div class="one-half column">
        <h3>About</h3>
        <ul>
            <li>If you want to <strong>update or add redirects</strong>, take a look at the instructions on the <a href="https://github.com/mammuth/TUM.sexy/tree/master/redirect" target="_blank">Github
                    Repo!</a></li>
            <li>You have an idea for how to improve this site? Feel free to <strong>contribute</strong> on our <a href="https://github.com/mammuth/TUM.sexy" target="_blank">GitHub Page</a>!
            <li>Contact: <a href="mailto:heilig@tum.sexy">heilig@tum.sexy</a></li>
        </ul>
    </div>
    <div class="one-half column">
        <h3>About</h3>
        <ul>
            <li>If you want to <strong>update or add redirects</strong>, take a look at the instructions on the <a href="https://github.com/mammuth/TUM.sexy/tree/master/redirect" target="_blank">Github
                    Repo!</a></li>
            <li>You have an idea for how to improve this site? Feel free to <strong>contribute</strong> on our <a href="https://github.com/mammuth/TUM.sexy" target="_blank">GitHub Page</a>!
            <li>Contact: <a href="mailto:heilig@tum.sexy">heilig@tum.sexy</a></li>
        </ul>
    </div>
</div>

{% if cats %}
    <script>
        window.onload = function () {
            document.body.background = 'http://thecatapi.com/api/images/get?format=src&type=gif';
        };
    </script>
{% endif %}