<h3>FMI geniessBar</h3>

<h5>Monday</h5>
<ul class="hunger-menu">
    <li onclick="void(0)">
        <span class="item-title">XXL Hot Dogs in der Semmel mit Gurken &amp; Zwiebeln</span>
        <span class="item-price">3.70 €</span>
    </li>
</ul>

<h5>Tuesday</h5>
<ul class="hunger-menu">
    <li onclick="void(0)">
        <span class="item-title">Mie Nudeln mit wechselnder Einlage im to go Becher</span>
        <span class="item-price">4.50€</span>
    </li>
</ul>