<h3>FMI geniessBar</h3>

<strong>Monday</strong>
<ul class="hunger-menu">
    <li data-balloon="3.70 €" data-balloon-pos="up" onclick="void(0)">
        XXL Hot Dogs in der Semmel mit Gurken & Zwiebeln
    </li>
</ul>

<strong>Tuesday</strong>
<ul class="hunger-menu">
    <li data-balloon="4.50 €" data-balloon-pos="up" onclick="void(0)">
        Mie Nudeln mit wechselnder Einlage im to go Becher
    </li>
</ul>