<h3>Pita Booth at ESO parking lot</h3>
<strong>Tuesdays, Wednesdays, Thursdays</strong>
<br> 11:00h - 14:00h
<br> Offers
<strong data-balloon="4.50 - 5.50 €" data-balloon-pos="up" onclick="void(0)">pita bread</strong> with different fillings and some small desert.
<br> Additionally wednesdays pasta is available.