<h3>Pita Booth at ESO parking lot</h3>
<h5>Tuesday, Wednesday, Thursday<br>11:00h - 14:00h</h5>
<ul class="hunger-menu">
<li onclick="void(0)">
<span class="item-title">Pita bread with different fillings and some small desert</span>
<span class="item-price">4.50€<br>&ndash; 5.50€</span>
</li>
</ul>
<h5>Wednesday</h5>
<ul class="hunger-menu">
<li>
<span class="item-title">Great variety of different pasta</span>
</li>
</ul>