<h3>Pita Booth at ESO parking lot</h3>
{% set opening_hours = 'Tu-Th 11:00-14:00' %}
<h5 class="opening-feeding-hours" data-hours="{{ opening_hours }}">Open & Food {{ opening_hours }}</h5>

Offers
<strong data-balloon="4.50 - 5.50 €" data-balloon-pos="up" onclick="void(0)">pita bread</strong> with different fillings and some small desert.
<br> Additionally wednesdays pasta is available.
